<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Stats</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <link rel="stylesheet" href="../static/css/prettyfire.scss">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
</head>
<body>
    
    <img  src="csafe-logo-color.png" alt="Csafe-logo" class="csafe-logo">
    <img src="Faststats Logo Color 1.png" alt="fastStats-logo" class="fast-logo">
    <!-- start Quiz button -->
    <div class="start_btn"><button>Start Quiz</button></div>

    <!-- Info Box -->
    <div class="info_box">
        <div class="info-title"><span>What is Fast Stats?</span></div>
        <div class="info-list">
            <div class="info"><b>Think you’re stat savvy? Take this quiz to find out.</b> </div>
            <div class="info">Fast Stats will test your statistical know-how with 10 simple questions.  Play now and see if you can best the questions posed by our pros.</div>
            <div class="info">1. You will have <span>20 seconds</span> per each question.</div>
            <div class="info">2. Once you select your answer, it can't be undone.</div>
            <div class="info">3. You can't select any option once time goes off.</div>
            <div class="info">4. You can't exit from the Quiz while you're playing.</div>
            <div class="info">5. You'll get points on the basis of your correct answers.</div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>
    
    <!-- Promo Box -->
    <div class="promo_box">
        <header>
            <div class="promo-title">CSAFE Fast Facts</div>
            <div class="promo_time">
                <!-- <div class="time_left">Time Left</div>
                <div class="seconds">20</div> -->
            </div>
            <!-- <div class="time_l"></div> -->
        </header>

        <div class="promo-list">
            
                <div class="promo1">1. <span>CSAFE</span> was founded in <span>2015</span> after the 2009 report by the NRC highlighted significant concerns with forensic disciplines.</div>
            
                <div class="promo2">2. CSAFE is comprised of over <span>80+ Researchers</span> from prestigious Institutions.</div>
            
                <div class="promo3">3. In 2020, CSAFE renewed it's partnership with <span>NIST</span>, keeping CSAFE a NIST Center of Excellence.</div>
            
            
        </div>
        <footer>
            
            <button class="next">Next Question</button>
        </footer>
    </div>

    <!-- Quiz Box -->
    <div class="quiz_box">
        <header>
            <div class="title">Fast Stats</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">20</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text">
                <!-- Here I've inserted question from JavaScript -->
            </div>
            <div class="option_list">
                <!-- Here I've inserted options from JavaScript -->
            </div>
        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <button class="next_btn">Next Question</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="fireworks"></div>
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
       
        
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
            <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>   
        </div>
        <!-- <script src="jquery.js"></script> 
        <script> 
            $(function(){
            $("#includeContent").load("fireworks.html"); 
            });
        </script> 
        <div id="includeContent"></div> -->
    </div>

    <!-- Inside this JavaScript file I've inserted Questions and Options only -->
    <script src="../static/script/questions.js"></script>

    <!-- Inside this JavaScript file I've coded all Quiz Codes -->
    <script src="../static/script/script.js"></script>
    <!-- Inside this JavaScript file I've coded fireworks for the result screen -->
    <!-- <script src="firescript.js"></script> -->

</body>
</html>
</html>